node_modules/
test-results/
playwright-report/
playwright/.cache/


# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# ESLint cache
.eslintcache
/test-results
/playwright-report
/playwright/.cache
.env.local